
.card {
	position: relative;
	margin: 0.3em;
	background-color: white;
	overflow: hidden;
	transition: box-shadow 0.35s ease-out;
	font-size: 13px;
	
}


.card__content {
	padding: 1.2em;
	background-color: white;
	margin-bottom: 3em;
	/* transition: all 0.5s ease-out; */
	/* -webkit-transition: -webkit-transform 0.35s ease-out;
	transition: -webkit-transform 0.35s ease-out;
	-o-transition: transform 0.35s ease-out; */
}

/* .card__bottom:hover {
	position: relative;
	bottom: 0;
} */

.card:hover .card__content {
    position: absolute;
    z-index: 9;
    top: -340px;
	overflow: hidden;
	left: 0;
	animation: mymove 1s;
	animation-fill-mode: none;
	cursor: pointer;
}
@keyframes mymove {
	from {
		top: 100px;
	}
	to {
		top: -340px;
	}
}

.content__hidden {
	list-style: none;
	padding-left: 0;
	display: none;
	opacity: 0;
	background-color: white;
	transition: opacity 0.35s ease-out;
	transition-timing-function: ease;
}

.card:hover .content__hidden {
	display: block;
	opacity: 1;
    z-index: 10;
	/* transition: opacity 0.35s ease-out; */
	transition-timing-function: ease;
}



.content__hidden li {
	font-size: 0.9em;
	margin-top: 10px;
}
.content__hidden span {
	display: block;
}